@keyframes changeOutlineColor  {
    from {outline-color: #74c7ec; opacity: 70%; scale: 1;}
    to {outline-color: #cba6f7; opacity: 100%; scale: .95;}
}
@keyframes returnOutlineColor  {
    from {outline-color: #cba6f7; opacity: 100%; scale: .95;}
    to {outline-color: #74c7ec; opacity: 70%; scale: 1;}
}
@keyframes buttonClick{
    from {scale: .95;}
    to {scale: .9;}
}

body {
    padding: 0px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 0;
    align-content: center;
    max-width: 70%;
}
@media only screen and (max-width: 1000px){
    .center {
        max-width: 90%
    }
}
p {
    font-size: 1.5rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
h1 {
    text-align: center;
    font-size: 3.5rem;
}
h2 {
    font-size: 2.5rem;
}
.img{
    width: 40%;
    padding: 1%;
}
a:link, a:visited {
    color: #74c7ec;
}

a:hover {
    color:#b4befe;
    cursor: pointer;
}
a:active{
    color:#b4befe;
}
hr{
    opacity: 70%;
    max-width: 120%;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    background-color: #313244;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size:1.5rem;
    opacity: 70%;
    align-content: center;
    outline: 2px solid #74c7ec;
    width: fit-content;
    color: #cdd6f4;
}

button:active{
    scale: .9;
    animation-name: buttonClick;
    animation-duration: .1;
}

button:hover{
    opacity: 100%;
    cursor: pointer;
    outline: 2px solid #cba6f7;
    animation-name: changeOutlineColor;
    animation-duration: .25s;
    scale: .95;
}

button:not(:hover){
    animation-name: returnOutlineColor;
    animation-duration: .35s;
    scale: 1;
}

button img {
    height: auto;
    width: 15%; 
    border-radius: 20%; 
    background-color: azure; 
    margin-top: .5vw;
    height: fit-content;
}

.footerContainer {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 8px;
    align-content: center;
    display: flexbox;
}

.footerContainer div{
    float: left;
    width: auto;
    margin-left: .25%;
    margin-right: .25%;
    margin-bottom: .75%;
}

.headderContainer{
    display: flex;
    background-color: #181825;
    padding: 1%;
}

.headderColumn{
    float: left;
    margin-left: .25%;
    margin-right: .25%;
    width: fit-content;
}

.galleryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flexbox;
}   
.galleryColumn{
    width: calc(32% - 20px);
    margin: 10px;
    float: left;
}
.galleryColumn img{
    width: 100%;
    margin-bottom: 10px;
}   
.assignments{
    display: flexbox;
}
.assignments img{
    margin: 10px;
}

.assignments div{
    float: left;
    outline: 2px solid #74c7ec;
    background-color: #313244;
    opacity: 70%;
}

.assignments div:hover{
    animation-name: changeOutlineColor;
    animation-duration: .25s;
}

.assignments div:not(:hover){
    animation-name: returnOutlineColor;
    animation-duration: .25s;
}

.short{
    width: calc(50% - 10px);
    margin: 5px
}

.short img{
    float:right;
    max-width: 100%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}